<div class="row">
	<div class="offer_header"> Create Landing Pages </div>
</div>


<%= link_to "Create New Offer With Video", offers_new1_path, :class => "btn large success" %>
<%= link_to "Create New Offer Without Video", offers_new2_path,  :class => "btn large success" %>

</br></br>
</br>
<table>
	<thead>
		<tr> 
			<th> Offer </th>
			<th> Edit Offer Page </th>
			<th> Edit Offer Thanks Page </th>
			<th> Subscribers </th>
			<th> Subscribers Info </th>
			<th> Destroy </th>
		</tr>
	</thead>
	<tbody>
		<% @user.offers.each do |offer| %>
		
		<tr> 
			<th> <%= link_to(offer.name, offer) %> </th>
			<th> <%= link_to 'Edit Show', edit_offer_path(offer) %> </th>
			<th> <%= link_to( 'Edit Thanks', edit_thanks_offer_path(offer) ) %></th>
			
			<th> <%=  link_to( 'Subscriptions', offer_subscriptions_path(offer) ) %>  </th>
			<th> <%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete %>
			 </th>
		</tr>
		<% end %>
	</tbody>
</table>		
			

<br>

</br>

