<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Video url:</b>
  <%= @offer.video_url %>
</p>

<p>
  <b>Bullet1:</b>
  <%= @offer.bullet1 %>
</p>

<p>
  <b>Bullet2:</b>
  <%= @offer.bullet2 %>
</p>

<p>
  <b>Bullet3:</b>
  <%= @offer.bullet3 %>
</p>
<p>
  <b>Bullet3:</b>

</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
