<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Video url:</b>
  <%= @offer.video_url %>
</p>

<p>
  <b>Bullet1:</b>
  <%= @offer.bullet1 %>
</p>

<p>
  <b>Bullet2:</b>
  <%= @offer.bullet2 %>
</p>

<p>
  <b>Bullet3:</b>
  <%= @offer.bullet3 %>
</p>
<p>
  <b>Bullet3:</b>

</p>

<%= form_for [@offer, @offer.subscriptions.build] do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>