<div class="row">
	<div class="offer_header"> <%= @offer.name %>
   </div>
</div>

<div class="row">
	<div class="span8 offer-bullets-horizontal" >
		<ul>
		<li>
			<%= @offer.bullet1 %>
		</li>
		<li>
			<%= @offer.bullet2 %>
		</li>
		<li>
			<%= @offer.bullet3 %>
		</li>
		</ul>
	</div>
	<div class="span8">
		<div class="row">
	
			<div class="offer_details span7"> 
				<p> Join now to easily and effortlessly start delivering your content online and getting paid without learning how to become an internet marketing master or going through another course you will never implement. </p> 			
				</br></br>
					<div class="row">
						<div class="span2">
							Name: </br></br>
							Email Address: </br> </br>
						</div>
						
						
				
						<div class="span5">
							<%= form_for [@offer, @offer.subscriptions.build] do |f| %>

							  <%= f.text_field :name %></br></br>

							  <%= f.text_field :email %> </br></br>
							<div class=""><%= f.submit "Sign Me Up!", :class => "btn large primary" %></div>
							<% end %>
						</div>
						
					</div>
				
			</div>
			<div class="span1">
			</div>
		</div>
	</div>
</div>
</div>




