<!DOCTYPE html>
<html>
<head>
  <title>Xoxox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key,value|%>
	<div class="portlet x12", style="margin:0.5em">	
		<div class="<%= key %>" style="padding:0.5em"> <%=value%> </div>	
	</div>
	<% end %>
<%= yield %>

</body>
</html>
