<!DOCTYPE html>
<html>
<head>
  <title>XOXOX</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>
	

<div id="background" style="min-height:450px">
	<div class="container">
			
	<% flash.each do |key,value|%>
	<div class="portlet x12", style="margin:0.5em">	
		<div class="<%= key %> alert-message" style="padding:0.5em"> <%=value%> </div>	
	</div>
	<% end %>
	
<%= yield %>

</div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
